<%= form_for @student do |form| %>
    <label>Student's First Name:</label>
    <%= form.text_field :first_name %> <br><br>

    <label>Student's Last Name:</label>
    <%= form.text_field :last_name %> <br><br>
    
    <%= form.submit %>
<% end %>