<%= form_for @klass do |form| %>
    <label>Class Title:</label>
    <%= form.text_field :title %> <br><br>

    <label>Class Room Number:</label>
    <%= form.text_field :room_number %> <br><br>
    
    <%= form.submit %>
<% end %>